/* Navbar */
#navBar {
    padding-left: 4em;
    padding-right: 3em;
    z-index: 2000;
}

#logoBrand {
    height: 2.5em;
    width: 5.5em;
}

/* Remove a seta do dropdown */
.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: 100%;
    margin-top: 1em !important;
}

a {
    text-decoration: none !important;
}

#icons {
    color: #000000;
    font-size: 1.4em;
    margin-left: 1.2em;
}

#icons:hover {
    color: red;
}

/* Sidebar */
.fa {
margin-top: 0.6em;
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
line-height: 36px;
}

.main-menu:hover,aside.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
padding-top: 1.5em;
}

.main-menu>ul {
margin:4em 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
padding-top: 0.8em;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

aside {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

aside ul,aside li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,aside.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page aside.dashboard-menu ul li:hover a,.dashboard-page aside.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}


/* Footer */
.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    padding-top: 1.5em !important;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.footer-menu ul li {
    display: inline;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #000;
}

.footer-menu ul li a:hover {
    color: #007bff;
}
